<div class="p-10 flex flex-col items-center">
    <div class="flex text-center justify-center">
        <img src="../../assets/logo/mainLogo.png" class="w-[500px]" alt="">
    </div>

    <div class="flex flex-col md:flex-row justify-center mt-10 md:mt-32 gap-5 ">
        <div (click)="goToFutureInterio()"
            class="p-5 bg-[#F4F0EC] hover:bg-gray-100 rounded-lg w-[400px] h-[250px] md:h-auto flex items-center justify-center shadow-md cursor-pointer">
            <img src="../../assets/logo/logo.png" class="w-[320px]" alt="">
        </div>

        <div
            class="p-5 bg-[#F4F0EC] hover:opacity-50 rounded-lg w-[400px] h-[250px] md:h-auto flex items-center justify-center">
            <img src="../../assets/logo/theWeddingStudioHub.png" class="w-[220px]" alt="">
        </div>
    </div>
</div>