<nav>
  <div class="max-w-7xl mx-auto px-4">
    <div class="flex justify-between h-16 p-12">
      <!-- Logo -->
      <div class="flex-shrink-0 flex items-center">
        <!-- <a href="#" class="text-black text-2xl cursor-pointer">YourLogo</a> -->
        <img class="w-56" src="../../../../assets/logo/logo.png" alt="company logo" />
      </div>

      <!-- Navigation Links -->
      <div class="hidden md:block" style="align-self: center">
        <ul class="ml-10 flex items-center space-x-4">
          <li>
            <a href="/futureInterio/home" class="text-gray-800 hover:text-gray-600 cursor-pointer text-lg">Home</a>
          </li>
          <li>
            <a href="/futureInterio/about" class="text-gray-800 hover:text-gray-600 cursor-pointer text-lg">About</a>
          </li>
          <li>
            <a href="/futureInterio/services"
              class="text-gray-800 hover:text-gray-600 cursor-pointer text-lg">Services</a>
          </li>
          <li>
            <a href="/futureInterio/contact-us"
              class="text-gray-800 hover:text-gray-600 cursor-pointer text-lg">Contact</a>
          </li>
          <li>
            <a href=""
              class="text-white pt-3 pb-3 pr-6 pl-6 rounded-xl hover:text-gray-100 bg-[#292F36] hover:bg-gray-600">The R
              D
              Enterprises</a>
          </li>
          <!-- Add more links as needed -->
        </ul>
      </div>
    </div>
  </div>
</nav>