<!-- <div class="ml-64 mr-64 mt-32">
  <div class="grid grid-cols-6 gap-10 mt-32 mb-16">
    <div class="col-span-2">
      <img class="w-64" src="../../../assets/logo/logo.png" alt="logo">
      <p class="pt-5">It is a long established fact that a reader will be distracted lookings.</p>
    </div>
    <div class="col-span-1 justify-self-center">
      <p class="font font-bold text-2xl">Pages</p>
      <p class="mt-5 cursor-pointer">About Us</p>
      <p class="mt-5 cursor-pointer">Our Projects</p>
      <p class="mt-5 cursor-pointer">Our Team</p>
      <p class="mt-5 cursor-pointer">Contact Us</p>
      <p class="mt-5 cursor-pointer">Services</p>
    </div>
    <div class="col-span-1 justify-self-center">
      <p class="font font-bold text-2xl">Services</p>
      <p class="mt-5 cursor-pointer">Kitchan</p>
      <p class="mt-5 cursor-pointer">Living Area</p>
      <p class="mt-5 cursor-pointer">Bathroom</p>
      <p class="mt-5 cursor-pointer">Dinning Hall</p>
      <p class="mt-5 cursor-pointer">Bedroom</p>
    </div>
    <div class="col-span-2 justify-self-end">
      <p class="font font-bold text-2xl">Contact</p>
      <p class="mt-5">55 East Birchwood Ave. <br> Brooklyn, New York 11201</p>
      <p class="mt-5">contactinterno.com</p>
      <p class="mt-5">(123) 456 - 7890</p>
    </div>
  </div>
</div> -->
<p class="p-10 text-center self-center mt-32">Copyright © Future Interio | Designed by Rhinon Technologies</p>