@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");

.tangerine-regular {
  font-family: "Tangerine"; /* Fallback to generic cursive and then to a sans-serif font */
  font-weight: 400;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.jost {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
